body {
  margin: 0;
  font-family: "Roboto-Regular";
  background-color: #1B1A17;
  color: #F0E3CA;
}

.new-note-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
  margin-bottom: 64px;
}
.inputs .add-inputs {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.inputs .add-inputs input {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #FF8303;
  border-radius: 5px;
  background-color: #1F1E1B;
  color: #F0E3CA;
}
.inputs .add-inputs input:focus {
  outline: none;
  background-color: #1B1A17;
}
.inputs .add-note {
  flex: 1;
  display: flex;
  justify-content: center;
}
.inputs .add-note .add-button {
  margin-top: 10px;
  margin-left: 5px;
  width: 80px;
  height: 80px;
  border: 2px solid #FF8303;
  background-color: transparent;
  color: #FF8303;
  border-radius: 10px;
  font-size: 36px;
  cursor: pointer;
}
.inputs .add-note .add-button:hover {
  background-color: #1F1E1B;
}

.divider {
  height: 2px;
  width: 128px;
  background-color: #FF8303;
  margin: 10px 0;
  align-self: center;
}

.task-container {
  width: 100%;
}

.task {
  position: relative;
  background-color: #1F1E1B;
  border: 2px solid #A35709;
  border-radius: 10px;
  height: 48px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F0E3CA;
}
.task .delete-button {
  width: 40px;
  height: 40px;
  border: 2px solid #A35709;
  border-radius: 5px;
  background-color: #1B1A17;
  color: #FF8303;
  font-size: 18px;
  cursor: pointer;
}
.task .delete-button:hover {
  background-color: #1F1E1B;
}

#no-tasks {
  text-align: center;
  margin: 10px 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 4vw;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal .modal-content {
  background-color: #1B1A17;
  color: #F0E3CA;
  padding-bottom: 2%;
  margin: 15% auto;
  text-align: center;
  width: 50%;
}
.modal .modal-content .modal-line {
  width: 100%;
  height: 2px;
  background-color: #A35709;
  margin-top: -20px;
}
.modal .modal-content h3 {
  margin-bottom: 5%;
}
.modal .modal-content button {
  background-color: #1B1A17;
  color: #F0E3CA;
  border: 2px solid #A35709;
  border-radius: 5px;
  padding: 2% 5%;
  margin: 0 2%;
  cursor: pointer;
}
.modal .modal-content button:hover {
  background-color: #1F1E1B;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  margin-top: 40px;
  position: absolute;
  right: 10px;
  max-width: calc(100% - 20px);
}
.button-container .task-button {
  margin: right;
  background-color: transparent;
  border: 2px solid #A35709;
  color: #F0E3CA;
  font-size: 28px;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 8px;
}
.button-container .task-button .task-button:hover {
  background-color: #1F1E1B;
}
.button-container .task-button .icon {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */